.shop-container {
    display: grid;
    grid-template-columns: 1fr 4.3fr;
}

.side-bar {
    border-right: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}

.categories-list {
    list-style-type: none;
}

.cat {
    font-size: 23px;
}

.categories-list li {
    margin-top: 10%;
    font-size: 20px;
}



.category-btn {
    width: 100%;
    background-color: white;
    border: none;
    font-size: 18px;
}

.category-btn:hover {
    background-color: lightgray;
    border-radius: 5px;
}